@model DealDouble.Entities.Auction
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Existing Auction</h2>

<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <label>Auction Tite</label>
    <input type="text" name="Title" value="@Model.Title"/><br>

    <label>Auction Description</label>
    <input type="text" name="Description" value="@Model.Description" /><br>

    <label>Actual Price</label>
    <input type="text" name="ActualPrice" value="@Model.ActualPrice" /><br>

    <label>Starting Date</label>
    <input type="text" name="StartingTime" value="@Model.StartingTime" /><br>

    <label>Ending Date</label>
    <input type="text" name="EndTime" value="@Model.EndTime" /><br>

    <button>Save</button>
</form>